@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Far From Homecoming';
    src: url('../fonts/far-from_homecoming_updated-webfont.woff');
}

 :root {
    --primary-color: #B11313;
    --primary-yellow: #f1c530;
    --primary-blue: #114C92;
    --primary-dark: #000000;
    --primary-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 1%;
    margin: 0 !important;
    background: var(--primary-color);
}

a {
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    color: var(--primary-white);
}

a:hover {
    color: var(--primary-white);
}

main {
    background-image: url("../img/img1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #B11313;
}

.Box-Title {
    margin-left: 17%;
    padding-top: 21%;
}

h1 {
    color: var(--primary-white);
    font-family: 'Far From Homecoming';
}

.small {
    font-size: small;
}

.x-small {
    font-size: x-small;
}

.whtbtn {
    border: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--primary-white);
}

.drkbtn {
    border: 1px solid #ffffff;
    background: none;
    font-weight: bold;
    border-radius: 10px;
}

.content>h5 {
    margin-left: 17%;
    padding-top: 17%;
    color: var(--primary-white);
    font-family: 'Far From Homecoming';
}

.left {
    margin: 0;
    font-size: small;
    margin-left: 17%;
    color: var(--primary-white);
}

.content-spiderman {
    display: flex;
    margin-left: 13%;
    margin-right: 10%;
    align-items: center;
}

.column {
    flex: 30%;
    margin: 4%;
    height: 500px;
}

.BecomeSpiderMan {
    background: url(../img/img5.png) #114C92;
    background-repeat: no-repeat;
    background-size: contain;
    height: 554px;
}

.BecomeSpiderMan input[type="text"],
.BecomeSpiderMan input[type="email"] {
    width: 400px;
    height: 27px;
    border: #ffffff;
    max-width: 600px;
}

.BecomeSpiderMan button[type="submit"] {
    border-radius: 7px;
    width: 170px;
    padding: 10px
}

.Become>h5 {
    color: var(--primary-white);
    font-family: 'Far From Homecoming';
}

.p-white::placeholder {
    color: #ffffff;
}

.Newsletter {
    background: url('../img/img6.png') no-repeat, var(--primary-color);
    background-position-x: 150%;
    background-size: 75%;
    height: 800px;
}

.News {
    margin-left: 17%;
}

.Letter>h5 {
    font-family: 'Far From Homecoming';
}

.Letter input[type="text"],
.Letter input[type="email"] {
    width: 50%;
    height: 27px;
    background: transparent;
    border: 1px solid #ffffff;
}

.Black-Spiderman {
    position: relative;
    right: -7%;
}

footer {
    background: var(--primary-dark);
}

.logo {
    margin-bottom: -2.2%;
}

.Mobile {
    margin-left: 12%;
}

.Contact {
    margin-left: 20%;
}

select {
    width: 120px;
    padding: 5px;
    border: #B11313;
    color: var(--primary-white);
    background: var(--primary-color);
}

.SocialMedia {
    word-spacing: 10px;
}

.Media {
    padding: 10px;
    border-radius: 50%;
    background: var(--primary-color);
}

@media all and (max-width:768px) {
    .content-spiderman {
        display: block;
        margin: 0%;
    }
    h5,
    .left {
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;
    }
    .content {
        padding-bottom: 1%;
    }
    .column {
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .whtbtn,
    .drkbtn {
        border-radius: 60px;
    }
    .Become {
        margin-top: 12%;
    }
    .Newsletter {
        height: 500px;
        background-position-y: 100%;
    }
    .News {
        margin-left: 0;
        text-align: center;
    }
    .logo {
        width: 150%;
        margin-bottom: -40%;
        margin-left: -25%;
    }
    .Mobile {
        padding-top: 10%;
        margin-top: 25%;
        margin-left: 15%;
    }
    .Contact {
        margin-left: 0%;
    }
    .Langue {
        margin-left: 55%;
        margin-top: -14%;
    }
    select {
        padding: 1.5%;
    }
}

@media all and (max-width:480px) {
    .BecomeSpiderMan input[type="text"],
    .BecomeSpiderMan input[type="email"] {
        width: 270px;
        height: 27px;
        border: #ffffff;
        max-width: 400px;
    }
}